.cart-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
  padding: 10px;
}

.cart-item {
  margin: 15px auto;
  display: block;
  box-sizing: 0px 2px 35px rgb(78, 78, 78);
}

.cart-item-image {
  height: 125px;
  width: 200px;
}

.cart-item-quantity {
  font-size: 15px;
  font-weight: 400;
}

.cart-item-remove {
  font-size: 25px;
  font-weight: 500;
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 1s;
}

.cart-item-remove:hover {
  background: rgb(219, 219, 219);
}

@media screen and (max-width: 1050px) {
  .cart-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .cart-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .cart-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
