.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
  padding: 10px;
}

.products-heading {
  margin-top: 20px;
}

@media screen and (max-width: 1050px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}